@media screen and (max-width: 505px){
	
	#sec1{
		grid-template-rows: repeat(4, 40px);
		grid-template-columns:1fr;
		grid-template-areas: "home" "about" "services" "contact";
}
	#sec2{
	grid-template-rows:repeat(2, 0.68fr);
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:"mainimg mainimg" 
						"membership promembership";
}
	#sec3{
	margin-top: -95px;
	grid-template-rows:repeat(2, 170px);
	grid-template-columns:repeat(2,1fr);
	grid-template-areas:"analytics marketing" "development support";
}
	#sec4{
	grid-template-rows:595px;
	grid-template-columns:100%;
	grid-template-areas: "secondmain";
}
	#sec5{
	grid-template-rows: repeat(6, 300px);
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: "img1 img2" "img3 img4" "img5 img6" "img7 img8" "img9 img10" "img11 img12";
}
	#mainimg p{
	text-align: justify;
}
	:is(#secondmain) :is(img,h2,p,li){
	float: left;
}
	:is(#secondmain) :is(h2,p){
	margin-left: 40px;	
}
	#secondmain img{
	width: 80%;
	height: 230px;
}
	#secondmain h2{
	margin-top: 25px;
	font-size: 20px;
	white-space: nowrap;
}
	#secondmain p{
	margin-top: -5px;
	max-width: 80%;
	font-size: 13px;
}
	#secondmain li{
	margin-left: -345px;
	margin-top: 215px;
}
}